<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Lend A Hand"
        android:supportsRtl="true"
        android:theme="@style/Theme.LendAHand">


        <activity android:name=".DonationActivity" />
        <activity android:name=".DonationHistoryActivity" />
        <activity android:name=".leaderboard" />
        <activity android:name=".RequestHelpActivity" />
        <activity android:name=".RequestHistoryActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ThankYouActivity" />
        <activity android:name=".userProfileActivity" />
        <activity android:name=".MainActivity" />

        <activity
            android:name=".LoginActivity"

        <activity
            android:name=".splashActivity"

            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity

            android:name=".splashActivity"

            android:name=".UserProfileActivity"
            android:exported="false" />

        <activity
            android:name=".leaderboard"
            android:exported="false" />

        <activity
            android:name=".requestPage"

            android:exported="false" />

    </application>

</manifest>